extends ../shared/template

block content
  #about-wrapper
    h1 About NodeTunes
    p NodeTunes is a web app build with NodeJS and MongoDB. It allows users to organize music by uploading audio files, assigning them albums and artists, and assigning images to identify each of those. Developed using many technologies such as:
    ul
      li NodeJS
      li Jade
      li Less
      li MongoDB
      li LoDash
      li Traceur
      li HTML5
      li CSS3
