extends ../shared/template

block content
  #home-wrapper
    img(src='img/node-tunes-logo.png')
    h1 Need a Javascript powered media manager?
    h2 Use NodeTunes to organize your music.
    a.getstarted(href='/artists') Get Started
